<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        {% if site.description or site.github.project_tagline %}
          <p>{{ site.description | default: site.github.project_tagline }}</p>
        {% endif %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
        <ul>
        {% if site.show_downloads %}
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
        {% endif %}
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>

     ########################
#      partition       #
########################
partition:
	# a0: base address
	# a1: left  = first index to be partitioned
	# a2: right = last index to be partitioned
	# a3: pivot value
	# Return:
	# v0: The final index for the pivot element
	# Separate the list into two sections based on the pivot value



	# organizational tasks

	# if $a1 >= $a2 , return $a1 (list w/ < 2 elements dont need to be partitoned)

	slt $t0, $a2, $a1		# checks if $a1 >= $a2
	bne $t0, $zero, pivotCheck	# jump to next if statement
	move $v0, $a1 			# return left 
	jr $ra				# return to caller

	# if both left and right elements are less than the pivot, return right

	pivotCheck:
	slt $t0, $a1, $a3		# $t0 = 1 if left < pivot
	slt $t1, $a2, $a3		# $t1 = 1 if right < pivot
	beq $t0, $zero, partitionBody 	# left > pivot so exit pivotCheck
	beq $t1, $zero, partitionBody   # if $t1 == 0, exit pivotCheck 
	move $v0, $a2			#return right
	jr $ra				#return to caller


	#if x[left] > pivot, swap(x, left, right - 1), return partition(x, left, right-1, pivot)

	partitionBody:
	sll $t0, $a1, 2		# multiply first index by 4 to determine offset to access x[left]
	add $t0, $t0, $a0	# $t0 points to x[left]
	lw  $s0, 0($t0)		# $s0 contains the value of x[left]
	slt $t1, $a3, $s0	# check if x[left] > pivot
	beq $t1, $zero, partitionReturn	# if x[left] < pivot, jump to else statement

	# (do we need to save the values of $a1 and $a2 before calling swap? I think or nah)
	# lw $a1, ($sp)
	# lw $a2, ($sp)
	addi $a2, $a2, -1 	# decrement right index before calling swap
	jal swap		# since x[left] > pivot, move x[left] to the right of the pivot
	jal partition



	# else return partition(x, left + 1, right, pivot)

	partitionReturn:
	addi $a1, $a1, 1	# increment left index
	jal partition		# recursively call partition
	jr $ra

      </section>
    </div>
    <footer>
    {% if site.github.is_project_page %}
      <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
    {% endif %}
      <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
